// Responsive breakpoints
$breakpoints: (
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    2xl: 1536px
);

@mixin responsive($breakpoints) {
    @each $name, $size in $breakpoints {
        @media (min-width: #{$size}) {

            // Generate prefixed responsive classes
            .#{$name}\: {
                @content;
            }
        }
    }
}